<div class="container section">
    <h2><strong>etapy</strong> pierwszej rejestracji</h2>
    <ol class="large-numbers inline fade-in">
        <li>
            <h3><strong>kontakt</strong> z gabinet</h3>
            <p>Zaczynamy od kontaktu telefonicznego z doktorem - wstępna kwalifikacja do terapii.Przed kontaktem należy przygotować opis badań. Kontakt z rejestracją w celu ustalenia terminu i godziny pierwszej wizyty. </p>
        </li>
        <li>
            <h3><strong>przygotuj</strong> dokumenty</h3>
            <p>Po kwalifikacji telefonicznej, terapię rozpoczynamy od konsultacji w pierwszym dniu  umówionego terminu. Należy zabrać ze sobą dokumentację ustaloną we wstępnej  rozmowie telefonicznej. Wymagana dokumentacja  edyczna to opis wyniku badań  obrazowych kręgosłupa ( jeśli możliwe opis + płyta). Pacjenci po leczeniu szpitalnym  powinni zabrać kartę wypisową ze szpitala. </p>
        </li>
        <li>
            <h3><strong>sprzwdź</strong> przeciwskazania</h3>
            <p>Choroby i dysfunkcje wymagające wcześniejszej konsultacji przed podjęciem ewentualnej terapii w Gabinecie:</p>
            <ul class="bullet-list">
                <li>czynna choroba nowotworowa, w tym przerzuty do kości</li>
                <li>zawał serca, stenty, by-pasy rozruszniki (wczesny okres)</li>
                <li>udary i wylewy  (wczesny okres)</li>
                <li>zaawansowana osteoporoza</li>
                <li>znacznego stopnia urazy kręgosłupa ze złamaniami i powikłaniami</li>
                <li>niektóre wady wrodzone uniemożliwiające rehabilitację</li>
                <li>wiek pacjenta</li>
                <li>stany lękowe i depresyjne</li>
            </ul>
        </li>
    </ol>

    <div class="pill box documents">
        <h4 class='icon-title'><svg viewBox='0 0 100 100'><use xlink:href='#documents'></use></svg><span>Potrzebne dokumenty</span></h4>
        <div class="flex">
            <ul class="bullet-list fade-in">
                <li class="title"><strong>Wymagane jedno z badań</strong></li>
                <li>wynik z rezonansu magnetycznego NMR </li>
                <li>wynik z tomografii komputerowej CT</li>
                <li>wynik ze zdjęć RTG</li>
            </ul>
            <ul class="bullet-list fade-in">
                <li class="title"><strong>Badania uzupełniające</strong></li>
                <li>densytometria (w przypadku pacjentów z osteoporozą)</li>
                <li>scyntygrafia kości, PET (w przypadku przebytej choroby nowotworowej)</li>
            </ul>
        </div>
    </div>
</div>
