[categoriesList]
==
<div class="section container">
    <h2 class='fade-in'>wybierz pakiet <strong>dla siebie</strong></h2>
    <p class='lead fade-in'>Kompleksowe leczenie zespołów bólowych kręgosłupa to terapia manualna w koncepcji dr Paluch, zawiera  od 12-20 zabiegów manualnych, w zależnosci od stanu zdrowia. Terapia uzupełniona jest odpowiednimi zabiegami z nowoczesnej medycyny fizykalnej. Czas terapii od 6 dni do 10.</p>

    <div class="grid-third">
        {% component 'categoriesList' %}
    </div>
</div>