{% content 'kontakt/formularz' %}
<form data-request="{{ __SELF__ }}::onFormSubmit">
    {{ form_token()}}
    <div id="{{ __SELF__ }}_forms_flash"></div>

    <div class="fieldset">
        <p><label for="imie">Imię</label><input type="text" name="imie" id="imie" required></p>
        <p><label for="email">Email</label><input type="email" name="email" id="email" required></p>
        <p><label for="telefon">Telefon</label><input type="text" name="telefon" id="telefon" required></p>
    </div>

    <div class="fieldset">
        <p><label for="wiadomosc">Zapytanie</label><textarea name="wiadomosc" id="wiadomosc" cols="30" rows="10" required></textarea></p>
    </div>
    <div class="fieldset checkbox">
        <p>
            <input type="checkbox" name='rodo' id='rodo' required>
            <label for="rodo">{% content 'kontakt/rodo' site_name='Gabinet Paluch Piotr Paluch' %}</label>
        </p>
        <p>
            <a href="{{'polityka-prywatnosci'|staticPage}}">Tutaj</a> możesz zapoznać się z naszą polityką prywatności
        </p>
    </div>
    <div class="submit"><button type="submit">wyślij</button></div>
    {% partial '@recaptcha' %}
</form>