.site-header {
  position: fixed;
  bottom: 0;
  background-color: hsl(var(--header-background-color) / 1);
  box-shadow: 0 0 20px hsl(var(--header-background-color) / 0.2);
  height: 70px;
  --icon-fill: #fff;
  z-index: 9999;
  border-top: 1px solid var(--white);
  overflow: hidden;
  width: 100vw;

  .brand-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    place-content: center;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    svg {
      max-width: 60px;
    }
    a {
      display: block;
      text-align: center;
      font-size: 2em;
    }
  }

  h1.logo {
    overflow: hidden;
    width: 70px;
    --text-display: none;

    svg {
      height: 70px;
      max-width: 100px;
    }
  }

  .toggable {
    display: none;
    position: fixed;
    top: 0;
    bottom: 70px;
    left: 0;
    right: 0;
    background: #fff;
  }

  .main-navigation ul {
    padding: var(--size-padding);
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
    height: 100%;
  }

  &.toggled .toggable {
    display: block;
  }
}
