.site-header {
  position: fixed;
  bottom: 0;
  background-color: hsl(var(--header-background-color) / 1);
  box-shadow: 0 0 20px hsl(var(--header-background-color) / 0.2);
  height: 70px;
  --icon-fill: #fff;
  z-index: 9999;
  border-top: 1px solid var(--white);
  overflow: hidden;
  width: 100vw;

  --transition-toggle: 300ms;
  --transition-menu: 200ms;
  --transition-menu-background: 250ms;

  .brand-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    place-content: center;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    svg {
      max-width: 60px;
    }
    a {
      display: block;
      text-align: center;
    }
  }

  h1.logo {
    overflow: hidden;
    width: 70px;
    --text-display: none;

    svg {
      height: 70px;
      max-width: 100px;
    }
  }

  .toggable {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 70px;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0;
    transition: opacity var(--transition-toggle);
    transition-delay: calc(2 * var(--transition-toggle));
  }

  .main-navigation {
    height: 100%;
    display: flex;
    place-items: flex-end;
    justify-content: center;
    background: url(../images/logo.svg) no-repeat 50% 20px;
    background-repeat: no-repeat;
    background-size: 200px;
    opacity: 0;
    transition: opacity var(--transition-menu-background);

    .toggled & {
      opacity: 1;
      transition-delay: calc(2 * var(--transition-toggle));
    }
  }

  .main-navigation ul {
    padding: var(--size-padding);
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
    transition: all var(--transition-menu);
    transform: translateY(60px);
    opacity: 0;

    a {
      display: block;
      font-size: 1.7em;
      text-align: center;
    }
  }

  &.toggled .toggable {
    display: block;
    opacity: 1;
    pointer-events: all;
    transition-delay: 0s;

    .main-navigation ul {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(3 * var(--transition-toggle));
    }
  }
}
