a.button,
[type="submit"],
.button-alt {
    @extend %button-base;
}

a.button,
[type="submit"] {
    background-color: var(--brand-yellow);
    border: 1px solid var(--brand-yellow);
}

.button-alt {
    border: 1px solid currentColor;
    background-color: var(--white);
}

.blue .button span {
    background-color: var(--color-brand-primary);
    border-color: var(--white);
    color: var(--white);
}

.blue .button:after {
    background-color: #fff;
}

.readmore {
    --icon-fill: currentColor;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.05em;

    &:hover {
        color: var(--color-hover);

        svg {
            transform: translateX(4px);
        }
    }

    svg {
        height: 0.7em;
        width: auto;
        vertical-align: middle;
        transition: transform 400ms;
    }
}

.shadow-button {
    background-size: contain;
    display: inline-block;
    padding: 1rem;
    color: #fff;
    padding-bottom: 2rem;
    font-weight: bold;
    line-height: 1;
    font-size: rem(30px);
    min-width: rem(180px);
    min-height: rem(162px);
    transition: all 0.6s;
    position: relative;
    top: 0;

    &:hover {
        top: -0.5rem;
    }

    @media screen and (max-width: $size-mobile) {
        margin-left: auto;
        margin-right: auto;
    }
}

.icon-button {
    @media screen and (min-width: $size-mobile) {
        display: block;
        background-color: var(--brand-primary);
        border-radius: 50%;
        place-content: center;
        width: 50px;
        transition: background 400ms ease-in-out;
        a {
            display: flex;
        }
        &:hover,
        &:active {
            background-color: var(--brand-yellow);
        }
    }
}

a.add-button,
footer button {
    @extend %button-base;
    color: var(--color-brand-primary);
}

.close {
    border: none;
    background-color: transparent;
    float: right;
}

.button-small {
    border: 3px solid var(--color-brand-primary);
    background-color: var(--color-brand-primary);
    color: var(--white);
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 3px 10px;
    min-height: 30px;
}

.button-delete {
    background-color: red;
    border-color: red;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: calc(var(--spacing) / 4);
}

.header-button {
    background-color: var(--color-brand-secondary);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    padding: rem(10px) rem(20px);
    line-height: 1;
    vertical-align: middle;
}

// .menu-bg,
// .menu-toggle {
//     @include round-button(var(--color-brand-secondary));
//     bottom: 1rem;
//     right: 50%;
//     margin-right: -2rem;

//     @media screen and (min-width: $size__mobile) {
//         display: none;
//     }
// }

.menu-toggle {
    color: var(--white);
    background: transparent;
    border: none;
    position: relative;
    display: block;
    padding: 0;
    height: 100%;
    max-height: 55px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $size-mobile) {
        display: none;
    }

    span.lines,
    &::before,
    &::after {
        display: block;
        height: rem(2px);
        min-height: 2px;
        width: 2rem;
        left: 0;
        background-color: currentColor;
        transition: all 0.2s ease-in-out;
        transform-origin: center;
        border-radius: 2px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        // right: 0;
    }

    span {
        // top: 50%;
        margin-top: -1px;
    }

    &::before {
        top: 32%;
    }

    &::after {
        bottom: 33%;
        margin-top: -2px;
    }

    .toggled & {
        transition-delay: 0ms;
        transition-duration: 0ms;

        box-shadow: none;

        span {
            opacity: 0;
        }

        &::before {
            top: 45%;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 52%;
            transform: rotate(-45deg);
        }
    }
}
