[viewBag]
==
<meta charset="utf-8">
<title>{{ this.page.title }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="DEPCORE">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if this.theme.google_site_verification %}
    <meta name="google-site-verification" content="{{ this.theme.google_site_verification }}" />
{% endif %}
<link href="{{ 'assets/css/main.min.css'|theme }}" rel="stylesheet">
<meta name="theme-color" content="{{ this.theme.brand_color }}">
<link rel="icon" href="{{ 'assets/images/icons/favicon.svg'|theme }}">
<link rel="mask-icon" href="{{ 'assets/images/icons/mask-icon.svg'|theme }}" color="{{ this.theme.brand_color }}">
<link rel="apple-touch-icon" href="{{ 'assets/images/icons/apple-touch-icon.png'|theme }}">
<link rel="manifest" href="{{ 'assets/images/icons/manifest.json'|theme }}">
<meta name="msapplication-TileColor" content="{{ this.theme.brand_color }}">
{% styles %}