<div class="container grid-half black-circle box">
    <div class="icon-box">
        <figure><svg viewBox='0 0 417 417'><use xlink:href='#spine'></use></svg></figure>
        <article>
            <h4>Leczenie manualne</h4>
            <p>Nowatorska koncepcja kompleksowego podejścia do rehabilitacji, wypracowana przez wiele lat praktyki, wzbogacona o zabiegi fizykalne</p>
        </article>
    </div>
    <div class="icon-box">
        <figure><svg viewBox='0 0 417 417'><use xlink:href='#therapy'></use></svg></figure>
        <article>
            <h4>Skuteczna terapia</h4>
            <p>Jedna z najbezpieczniejszych form i koncepcji leczenia zarówno kręgosłupa, jak i innych zespołów bólowych.</p>
        </article>
    </div>
</div>